{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "printWidth": 100,
    "overrides": [
      {
        "files": ["**/*.html"],
        "options": {
          "printWidth": 110
        }
      },
      {
        "files": ["**/*.php"],
        "options": {
          "printWidth": 110
        }
      }
    ]
  }